name: Run Gradle Tests

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5.0.1

    - name: Set up JDK 11
      uses: actions/setup-java@v5.0.0
      with:
        java-version: 11
        distribution: temurin

    # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
    # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5.0.0

    - name: Build
      run: ./gradlew build
